<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite">
    <test name="TAU Navigation Test">
        <classes>
            <class name="com.example.TAUNavigationTest">
                <methods>
                    <include name="testTAUNavigation" />
                </methods>
            </class>
        </classes>
    </test>
</suite> 